<% if (page.layout === 'page') { %>
    <article class="page-single">
        <header class="page-header">
            <h1 class="page-title"><%= page.title || __('untitled') %></h1>
        </header>
        
        <div class="page-content">
            <%- page.content %>
        </div>
    </article>
<% } %>
